%h3 Welcome to Online University
.jumbotron
  - if user_signed_in?
    - if current_user.professor?
      %p Let's start by creating a new course.
      %p= link_to 'Create Course.', new_course_path
    - elsif current_user.student?
      %p
        Let's start by browsing the #{link_to 'Courses', courses_all_path}.
      %p
        You are currently registered as a Student.
        %br
        Please contact admin
        %b= admin_email
        in case you want to change your role to Professor.
    - elsif current_user.admin?
      %p
        = link_to 'Courses:', courses_path
        = Course.count
        registered
  - else
    %p
      = link_to 'Courses:', courses_path
      = Course.count
      registered
