.row
  .col-md-6
    = simple_form_for @course, html: { class: 'form-horizontal' }, wrapper: :horizontal_form,  |
      wrapper_mappings: {                                   |
        check_boxes: :horizontal_radio_and_checkboxes,      |
        radio_buttons: :horizontal_radio_and_checkboxes,    |
        file: :horizontal_file_input,                       |
        boolean: :horizontal_boolean                        |
      } do |f|                                              |
      = f.error_notification

      .form-inputs
        = f.input :name
        = f.input :code
        = f.input :description
        = f.input :start_date
        = f.input :end_date
        = f.input :duration
        = f.input :grade_point
        = f.input :syllabus
        = f.input :all_categories

      .form-actions
        = f.button :submit, class: 'btn-primary'
