.row
  %h1 Course Listing
  - if user_signed_in?
    - if action_name == 'index_all'
      %p View #{ link_to 'My Courses.', courses_path }
    - else
      %p View #{ link_to 'All Courses.', courses_all_path }


- @courses.each do |course|
  .row.course-list-item
    .col-md-3.course-list-item-meta
      %h5
        Start Date:
        = course.start_date
      %h5
        End Date:
        = course.start_date
    .col-md-9
      %h6= course.code
      %h2= link_to course.name, course
      %div= course.description

%br

- if policy(:course).create?
  = link_to 'New Course', new_course_path
