%p#notice= notice

%h4= @course.code
.row.course-title
  %h1= @course.name
  - if policy(@course).enrolled?
    #course-enroll
      Enrolled!
  -elsif policy(:course).enroll?
    #course-enroll
      = render 'enroll'
%p
  %b Categories:
  = raw category_links(@course.all_categories)
%p
  %b Start date:
  = @course.start_date
  %br
  %b End date:
  = @course.end_date
  %br
  %b Duration:
  = @course.duration
%h3 Description:
= @course.description

%br
%br
%p
  %b Grade point:
  = @course.grade_point
%p
  %b Syllabus:
  = @course.syllabus


- if policy(:course).update?
  = link_to 'Edit', edit_course_path(@course)
  \|
- if policy(:course).enroll?
  - unless @course.enrolled?(current_user)
    = link_to 'Enroll', enroll_course_path(@course)
  - else
    = 'Enrolled'

  \|
= link_to 'Back', courses_path
